<!doctype html>
<title>{% block title %}{% endblock %} - {{ _('M3U Editor') }}</title>
<meta name="description" content="{{ _('IPTV M3U playlist editor') }}">
<meta name="author" content="Andrei Polyakov">
<meta name="yandex-verification" content="180e9fedf38f3004" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://abp-m3u.tk/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!--script type="text/javascript" src="{{ url_for('static', filename='m3u.js') }}"> </script-->
<nav>
  <h1>{{ _('M3U editor') }}</h1>
  <ul id="menu">
    {% if g.user %}
      <li><span data-id="{{ g.user['id'] }}">{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">{{ _('Log Out') }}</a>
    {% else %}
      <!--li><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a-->
      {% block nav %}
      <li><a href="{{ url_for('auth.login') }}">{{ _('Log In') }}</a>
      {% endblock %}
    {% endif %}
    <script>
      if (isMobile() == false) 
        menu.insertAdjacentHTML('beforeend', "<li><a href='{{ url_for('m3u.help') }}'>{{ _('Help') }}</a>");
    </script>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>


