<!doctype html>
<!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
<!--section class="content"-->
{% extends 'base.html' %}

{% block header %}
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <!--link href="//vjs.zencdn.net/7.3.0/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/7.3.0/video.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/videojs-flash@2/dist/videojs-flash.min.js"></script-->

{% endblock %}

{% block content %}

  <template id="m3u-select">
    <div>
      <label style="white-space: nowrap;" :for="id" v-html="lbl"></label>
      <p><select ref="Select" :id="id" @change="onSelList" multiple size="10">
        <option disabled>{{ _('Choose channels') }}</option> 
        <option v-for="option in progs" :value="option.value">${ option.title }</option> 
      </select></p>
    </div>
  </template>

  <template id="m3u-buttons">
    <div>
      <p v-for="(btn, ind) in buttons" style="margin-bottom: -20px;"><input name="btn" type="button" @click="$emit('btn-clk',ind)" :title="btn.title" :value="btn.value"></p>
    </div>
  </template>

  <template id="m3u-prg">
    <div>
      <p style="margin: 2px; padding: 2px;"><a id="ref" :href="selected.value">${ selected.title }</a></p>
      <p id="tm" style="font-size: x-small; margin: 0px; padding: 0px;">${ prg.tm }</p>
      <div id="spans" style="display: none;">
        <span v-for="(spn, ind) in spans" :id="spn.id" :title="spn.title" @click="span_click(ind)" class="arrow">${ spn.text }</span>
      </div>
      <p id="ttl" style="font-size: small; margin: 0px; padding: 0px;">${ prg.title }</p>
      <p id="desc" style="font-size: x-small; margin: 0px; padding: 0px;">${ prg.desc }</p>
    </div>
  </template>

  <form method="post">
    <div style="clear: both">
      <p>
        <label for="url">{{ _('Playlist address') }}</label>
        <input id="url" name="url" style="width: 100%" type="url" placeholder="https://iptvm3u.ru/hdlist.m3u">
        <input name="btn" type="submit" value="{{ _('Load') }}">
      </p>
    </div>
    {% include 'm3u_script.html' %}
    <div id="m3u">
      <div style="display: inline-flex; flex-wrap: nowrap;">
        <div style="float: left; padding: 3px">
          <m3u-sel v-model="s_selected" :progs="s_progs" :id = "s_id" :lbl = "s_lbl" :funcs = "['add', 'unselect']"></m3u-sel>
        </div>
        <div style="float: left; padding-top: 23px">
          <m3u-buttons :buttons="s_buttons" @btn-clk="s_button_click"></m3u-buttons>
        </div>
        <div style="float: left; padding: 3px">
          <m3u-sel v-model="d_selected" :progs="d_progs" :id = "d_id" :lbl = "d_lbl" :funcs = "['unselect', 'up', 'down', 'delete', 'save']"></m3u-sel>
        </div>
        <div style="float: left; padding-top: 23px">
          <m3u-buttons :buttons="d_buttons" @btn-clk="d_button_click"></m3u-buttons>
        </div>
      </div>
      <div id="prg" style="width: 700px;">
        <m3u-prg :spans="spans" :selected="selected"></m3u-prg>
      </div>
      <div id="dsk">
        <label id="lext" title="{{ _('See Help') }}" style="font-size: small;" for='ext'>{{ _('Play in an external player') }}</label>
        <input type="checkbox" id="ext" name="ext" v-model="chk"><br>
        <!--input type="checkbox" id="ext" name="ext" onclick="ext_player()"><br-->
        <video id="video" type="video/mp4" poster="//vjs.zencdn.net/v/oceans.png" preload="metadata" controls width="400"></video>
      </div>
    </div>
  </form>
  <script>
    if ( isMobile() ) {
      lext.style.display = 'none';
      ext.style.display = 'none';
      video.hidden = true;
    }
    //else if (ext.checked == false) video.hidden = false;
  </script>
  <footer style="font-size: x-small; text-align: right;">
    <p style="margin-bottom: -8px;">&copy {{ _('Andrei Polyakov') }} 2020</p>
    <p style="margin-bottom: -8px;"><a href="{{ _('mailto:ap120368+web@gmail.com') }}">{{ _('ap120368+web@gmail.com') }}</a></p>
  </footer>
  <script src="https://unpkg.com/vue-async-computed"></script>
  <script src="{{ url_for('static', filename='m3u_vue.js') }}"></script>    
{% endblock %}


