{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Log In') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">{{ _('Username') }}</label>
    <input name="username" id="username" required>
    <label for="password">{{ _('Password') }}</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="{{ _('Log In') }}">
    <div style="display: flex; align-items: center;">
      <span>{{ _('Sign in with') }}</span>
      <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=049c68e5c66c440f8c736d006d4a5989">
        <img alt = "{{ _('Yandex login') }}" src="{{ url_for('static', filename='yandex_logo.png') }}" width="80"></a>
      <a href="{{ url_for('auth.google') }}">
        <img alt = "{{ _('Google login') }}" src="{{ url_for('static', filename='google_logo.png') }}" width="70"></a>
    </div>
  </form>
{% endblock %}
